<?xml version="1.0" encoding="utf-8"?>
<config 
license=""
stagecolor="0x000000" 
autoplay="false" 
buffer="2"
Volume="50" 
fullscreenscale="0" 
normalscale="0" 
logopath="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/images/platoon.png"
logoalpha="50" 
logoalign="TR" 
Download="false"
logo_target="http://www.contussupport.com/"
skin="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/skin/skin_black.swf"
skin_autohide="false"   
languageXML="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/xml/language.xml"
playlistXML=""
playlist_open="false" 
showPlaylist ="false"
HD_default="false" 
vast="false"
vast_partnerid=""
streamer=""
adXML=""
preroll_ads="false"
postroll_ads="false"
midrollXML=""
midroll_ads="false" 
cssURL="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/css/midrollformat.css"
shareURL="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/email.php"
embed_visible="true"
UseYouTubeApi="php"
videoshareURL="http://www.yourdomainname.com/wp-content/plugins/Contus-VBlog/videourl.php"
debug="true">
<timer>true</timer>
<zoom>true</zoom>
<email>true</email>
<fullscreen>true</fullscreen>
</config>